body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.circle-button-container {
    display: flex;
}

.circle-button {
    width: 50px;
    height: 50px;
    background-color: #8d989f;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.circle-button:hover {
    background-color: #2980b9; /* Hover color */
    transform: scale(1.25);
}
